package #{PACKAGE_NAME}.#{APP_NAME};

import org.springframework.boot.SpringApplication;
import org.springframework.boot.autoconfigure.SpringBootApplication;

@SpringBootApplication
public class #{CLASS_NAME} {

  public static void main(String[] args) {
    SpringApplication.run(#{CLASS_NAME}.class, args);
  }

}
